body {
    font-size: 14px;
    font-family: arial, sans-serif;
    text-align: center;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:any-link, button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    padding: 6px;
    justify-content: flex-end;
}

.header div {
    box-sizing: border-box;
    line-height: normal;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: middle;
}

.header a {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    color:rgba(0, 0, 0, 0.87);
    display: inline-block;
    padding-left: 15px;
}

.header a:nth-of-type(2) {
    padding-right: 15px;
}

.header svg {
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

p a {
    padding: 0 3px;
    font-size: small;
}

a:hover, a:active {
    text-decoration: underline;
}

footer {
    background: #f2f2f2;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.region {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.footer {
    padding: 0 20px;
}

.footer a {
    color: #70757a;
    display: block;
    padding: 15px;
}